*{
    margin: 0;
    padding: 0;
}
main{
    background-color: gainsboro;
    margin-top: 43px;
}
.navbar{
    padding: 0;
}

.sign-up-card{
    box-sizing: border-box;
    box-shadow: 2px 2px whitesmoke;
    z-index: 5;
}
