*{
    margin: 0;
    padding: 0;
}

main{
    background-color: grey;
    
}
.forest{
    padding-left:1px ;
    width: 70%;
    height: 30vh;
    border-radius: 20px;
    margin: 20px;
    border: 1px solid black;
}


.row p-5{
    margin: 2px;
}
.messages{
    width: 90%;
    min-height: 20vh;
}
.text-center{
    color: #bdbaba;
}
.navbar{
    padding: 0;
}
.col-lg-4{
    box-shadow: 10px 10px whitesmoke;
    margin: 40px;
    padding: 15px;
    width: 250px;
}